/* Navbar */
nav {
  font-family: monospace;
  font-size: 200%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: white;
}
nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: black;
}

nav a:active {
  color: red;
}

@media only screen and (max-width: 581px) {
  nav {
    align-items: center;
    flex-direction: column;
  }
}

/* Sections */
.section {
  min-height: 100vh;
  padding: 4rem 2rem;
  scroll-margin-top: 4.3rem;
  margin-top: 100px;
  font-family: Poppins;
  font-size: 2em;
}

.highlight {
  color: red;
}

.section p {
  font-family: Roboto;
}

@media only screen and (max-width: 581px) {
  .section {
    font-size: 1.5em;
  }
}

/* Contact Links */
.contact-links a {
  margin: 5px;
  color: #333;
  text-decoration: none;
  font-size: 1.5rem;
}

.contact-links a:hover {
  color: #eb0c4f;
}
